{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block content %}

<section id="featured">
	<div class="container-fluid px-0">
		<img src="{% static 'img/featured.jpg' %}" alt="cover for article">
	</div>
</section>

<section id="content">
	<div class="container-fluid">
		<h1 style="font-style: italic;">Latest Posts</h1>
		<hr>
		<div class="row">
			<div class="col-lg-8 artikel">
				{% for artikel in post %}
				<div class="card border-0">
					<div class="card-body">
						<div class="row">
							<div class="col-lg-5 col-md-5 col-sm-5">
								<img src="{{ artikel.cover.url }}" class="cover_artikel" alt="artikel.judul">
							</div>
							<div class="col deskripsi_artikel">
								<a href="{% url 'detail_artikel' artikel.slug %}">
									<h5 class="card-title">{{ artikel.judul }}</h5>
								</a>
								<p class="card-text"><small class="text-muted">{{ artikel.tanggal }}</small></p>
								<p class="card-text">{{ artikel.isi|safe }}</p>
								<a href="{% url 'detail_artikel' artikel.slug %}">Selengkapnya</a>
								<p></p>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
				<hr>
			</div>

			<div class="col sidebar">
				<section id="popularpost">
					<h4 align="center">POPULAR POST</h4>
					<hr>
					{% for pop in populer %}
					<a href="#" style="color: orangered;">{{ pop.kategori }}</a><br>
					<a href="{% url 'detail_artikel' pop.slug %}">{{ pop.judul }}</a>
					<hr>
					{% endfor %}
				</section>

				<section id="newsletter">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">SUBSCRIBE TO OUR NEWS</h5>
							<form class="form-inline justify-content-center">
								<div class="form-group">
									<label for="email"></label>
									<input type="text" id="email" class="form-control"
										placeholder="Enter your email here...">
									<button type="submit" class="btn btn-success">SUBSCRIBE</button>
								</div>
							</form>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</section>

{% endblock %}