<!doctype html>

{% load static %}

{% load crispy_forms_tags %}

<html>

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

	<!-- Custom CSS -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

	<title>Website Blog</title>
</head>

<body>
	<section id="header">
		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
			<a class="navbar-brand" href="{% url 'artikel' %}">Navbar</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="{% url 'artikel' %}">Home<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Game</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Kesehatan</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Kuliner</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Keuangan</a>
					</li>
				</ul>
				<form class="form-inline my-2 my-lg-0" method="get">
					<div class="form-group">
						<input id="cari" name="cari" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
					</div>
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form>
			</div>
		</nav>
	</section>

	{% block content %} {% endblock %}

	<section id="footer">
		<div class="container-fluid px-0">
			<br>Copyright 2019.<br>
			All right reserved. Powered by Django.<br>
		</div>
	</section>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="{% static 'js/jquery-3.3.1.slim.min.js' %}">
	</script>
	<script src="{% static 'js/popper.min.js' %}">
	</script>
	<script src="{% static 'js/bootstrap.min.js' %}">
	</script>
</body>

</html>