{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<section id="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-8 artikel">
				<div class="card border-0">
					<div class="card-body">
						<img src="{{ post.cover.url }}" class="cover_artikel img-responsive" alt="{{ post.judul }}">
						<h5 class="card-title"><br>{{ post.judul }}</h5>
						<p class="card-text"><small class="text-muted">{{ post.tanggal }}</small></p>
						<p class="card-text">{{ post.isi|safe }}</p>
					</div>
				</div>
				<hr>
			</div>

			<div class="col sidebar">
				<section id="popularpost">
					<h4 align="center">RELATED POST</h4>
					<hr>
					<a href="" style="color: orangered;">Kuliner</a><br>
					<a href="">Cara membuat makanan enak</a>
					<hr>
					<a href="" style="color: orangered;">Game</a><br>
					<a href="">Tips bermain Harvest Moon Back to Nature</a>
					<hr>
					<a href="" style="color: orangered;">Keuangan</a><br>
					<a href="">Investasi mudah, murah, dan aman dengan Reksa Dana</a>
					<hr>
					<a href="" style="color: orangered;">Kesehatan</a><br>
					<a href="">Mengatasi demam berdarah dengan beberapa langkah mudah</a>
				</section>

				<section id="newsletter">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">SUBSCRIBE TO OUR NEWS</h5>
							<form class="form-inline justify-content-center">
								<div class="form-group">
									<label for="email"></label>
									<input type="text" id="email" class="form-control"
										placeholder="Enter your email here...">
									<button type="submit" class="btn btn-success">SUBSCRIBE</button>
								</div>
							</form>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</section>

{% endblock %}