{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<b>Pencarian:</b>
<form method="get">
	{{ form|crispy }}
	<button type="submit" class="btn btn-primary btn-block">Cari</button><br>
</form>
<button class="btn btn-primary navbar-btn" onclick="location.href='{% url 'buat_artikel' %}'">Buat Artikel</button><br><br>

{% for artikel in post %}
    <a href= "{% url 'detail_artikel' artikel.slug %}">{{ artikel.judul }}</a>
    <button class="btn btn-primary navbar-btn" onclick="location.href='{% url 'edit_artikel' artikel.slug %}'">Edit</button>
    <button class="btn btn-primary navbar-btn" onclick="location.href='{% url 'hapus_artikel' artikel.slug %}'">Hapus</button>
    <br>
{% endfor %}

{% if is_paginated %}
	<ul class="pagination">
		{% if page_obj.has_previous %}
			<li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
		{% else %}
			<li class="disabled"><span>&laquo;</span></li>
		{% endif %}
		{% for i in paginator.page_range %}
			{% if page_obj.number == i %}
				<li class="active"><span>{{ i }}<span class="sr-only">(current)</span></span></li>
			{% else %}
				<li><a href="?page={{ i }}">{{ i }}</a></li>
			{% endif %}
		{% endfor %}
		{% if page_obj.has_next %}
			<li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
		{% else %}
			<li class="disabled"><span>&raquo;</span></li>
		{% endif %}
{% endif %}

{% endblock %}