{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid px-0 flex-row">
	<div class="row">
		<div class="col" style="min-width: 50vw;">
			<div class="container">
				<h2>Edit Artikel</h2>
				<form method="post" enctype="multipart/form-data">
					{% for key, value in form.errors.items %}
						{% if key == 'cover' %}
							{{ value }}
						{% endif %}
					{% endfor %}
					{% csrf_token %}
					{{ form.media }}
					{{ form|crispy }}
					<button type="submit" class="btn btn-primary btn-block">Simpan</button><br>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}