#featured {
    background-color: black;
}

#featured img {
    width: 100%;
    opacity: 0.5;
}

#content {
    margin: 1rem;
}

.artikel .card {
    margin-bottom: 1rem;
}

.artikel .card .card-body {
    padding: 0rem;
}

.deskripsi_artikel {
    margin: 0rem;
}

.cover_artikel {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sidebar a {
    font-size: 0.9rem;
}

#newsletter {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 2rem;
}

#footer {
    background-color: #343a40;
    display: flex;

    text-align: center;
    color: white;
    font-family: sans-serif;
    font-style: italic;
    font-size: 0.9rem;
}

#login-form {
    text-align: center;
}

#login-form .container-fluid {
    height: 100vh;
}

#login-form .card {
    padding: 0.5rem;
}

#login-form .input-group {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#login-form .input-group-text {
    background-color: white;
}